{% extends "event/base.html" %}
{% block content %}
<div class="about-section">
    <div class="inner-width">
        <h1>About Us</h1>
        <div class="border"></div>
        <div class="about-section-row">
            <div class="about-section-col">
                <div class="about">
                    <p>
                        The foundation of the K.S.R. College of Technology was laid in the year 1994, near Thiruchengode, South India. A vital part of the enormous K.S.R. Group of Institutions, it is carving a distinct place for itself under the tutelage of Lion Dr. K. S. Rangasamy.
KSRCT is located in a scenic campus area of over 300 acres with a built up area of 12 lakh square feet. A combination of cutting edge infrastructure and well accomplished staff makes it a premier center for learning. In fact, it has the ninth largest intake of students (as per AICTE approval) among the self financing engineering colleges in Tamil Nadu.
KSRCT has various cells for student and faculty empowerment. It has signed MoU with leading industries to facilitate industrial exposure for students and faculty and allow in plant training for students. An actively functioning placement cell has assured a high rate of placement for the passing out candidates.
                    </p>
                    <a href="http://www.ksrct.ac.in/page/aboutus.html">Read More</a>
                </div>
            </div>
            <div class="about-section-col">
                <div class="skills">
                    <div class="skill">
                        <div class="title">Quality</div>
                        <div class="progress">
                            <div class="progress-bar p1"><span>95%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="title">Infrastructure</div>
                        <div class="progress">
                            <div class="progress-bar p2"><span>90%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="title">Students Satisfaction</div>
                        <div class="progress">
                            <div class="progress-bar p3"><span>98%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}