{% extends "event/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="intro">
                    <h2 class="text-center"><a  href="{% url 'principal-decision-page' object.id %}">{{object.title}}</a></h2>
                    <p class="text-center">{{object.description}}</p>
                    <p class="text">Requested Date : {{object.event_date}}</p>
                    <p class="text">Requested Time : {{object.requested_time}}</p>
                    <p class="text">Purpose : {{object.purpose}}</p>
                    <hr>
                </div>
                <input type="text" name="id" value="{{ object.id }}" hidden>
                <div class="btn-group btn-group-toggle " data-toggle="buttons" >
                    <label class="btn btn-secondary btn btn-success active">
                      <input type="radio" class="btn btn-success" value="yes" name="options" id="option1" autocomplete="off" checked> Accept
                    </label>
                    <label class="btn btn-secondary btn btn-danger">
                      <input type="radio" class="btn btn-danger" value="no" name="options" id="option2" autocomplete="off"> Decline
                    </label>
                </div>
                <div class="form-group">
                    <label >Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="principal_comments"></textarea>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}